<app-header-client></app-header-client>
<form [formGroup]="user" (ngSubmit)="loginUser()">
  <div height="2000">
    <div class="form-login color-border">
      <div class="form-group text-center">
        <img class="mb-4" src="../../assets/img/logo_utn.png" alt="" height="72">
        <h1 class="h3 mb-3 font-weight-normal color-primary">Inicio de sesión</h1>
      </div>
      <mat-form-field class="col-lg-12" appearance="outline">
        <mat-label for="email">Correo electrónico</mat-label>
        <input matInput type="email" placeholder="Ingrese su correo" formControlName="email" required>
        <mat-error *ngIf="email.errors">
          Por favor ingrese un email válido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-lg-12" appearance="outline">
        <mat-label for="password">Contraseña</mat-label>
        <input matInput type="password" placeholder="Mínimo 6 caracteres" formControlName="password" required
          minlength="6">
        <mat-error *ngIf="password.errors">
          La contraseña debe tener mínimo 6 caracteres
        </mat-error>
      </mat-form-field>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
      </div>
      <div class="form-group">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
    </div>
  </div>
</form>
<app-footer></app-footer>
