<app-header-client></app-header-client>
<div class="fondo">
  <br><br>
  <div class="titulo">Museo UTN</div>
  <div class="contenedores text-justify">
    <div class="card multimedia cuadros">
      <div class="card-body colorcuadros">
        <h5 class="card-title">Multimedia</h5>
        <p class="card-text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem
          Ipsum ha sido el
          texto de relleno estándar de las industrias desde el año 1500</p>
          <a href="#" class="card-link">Ver más</a>
      </div>
      
    </div>
    <div class=" card noticias cuadros">
      <div class="card-body colorcuadros">
        <h5 class="card-title">Noticias</h5>
        <p class="card-text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem
          Ipsum ha sido el
          texto de relleno estándar de las industrias desde el año 1500</p>
        <a href="#" class="card-link">Ver más</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
