<app-header-admin></app-header-admin>
<br>
<div class="container">
  <div class="col">
    <div *ngIf="!identificationid; else notNuevo">
      <div class="title">Nueva de Colección</div>
      <div class="text-right">
        <button mdbBtn type="button" color="danger" mdbWavesEffect routerLink="/list-collection">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <ng-template #notNuevo>
      <div class="title"> Editar Colección</div>
      <div class="row backgroundTitle">
        <div class="col-1">
          <img class="miniatura" src="{{imagen}}" alt="">
        </div>
        <div class="col-10 subtitle text-center"> Nombre Científico: <strong> {{taxon.scientificname}}</strong> </div>
        <div class="col-1 text-right">
          <div class="">
            <button mdbBtn type="button" color="danger" mdbWavesEffect routerLink="/ficha/{{identificationid}}">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>

      </div>

    </ng-template>
  </div>

  <mat-card>
    <mat-tab-group backgroundColor="">
      <div *ngIf="identificationid; else elseBlock">
        <mat-tab>
          <ng-template  mat-tab-label>
            <div class="tab">
            <mat-icon class="icon">filter_1</mat-icon> Identificación
          </div>
          </ng-template>
          <div class="title2">
            <h2>Identificación #: {{identificationid}}</h2>
          </div>
          <app-update-identification (identificationid)="postIdentificationid($event)"></app-update-identification>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab"><mat-icon class="icon">filter_2</mat-icon> Taxon</div>
          </ng-template>
          <app-update-taxon *ngIf="taxonBool; else notTaxon" [identificationid]="identificationid"></app-update-taxon>
          <ng-template #notTaxon>
            <app-create-taxon [identificationid]="identificationid" (taxonBool)="postTaxon($event)"></app-create-taxon>
          </ng-template>
        </mat-tab>
        <div *ngIf="taxonBool;else disabledMultimedia">
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="tab"><mat-icon class="icon">filter_3</mat-icon> Multimedia</div>
            </ng-template>
            <app-create-multimedia [identificationid]="identificationid"></app-create-multimedia>
          </mat-tab>
        </div>
        <ng-template #disabledMultimedia>
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="tab"><mat-icon class="icon">filter_3</mat-icon> Multimedia</div>
            </ng-template>
            <h2>Primero debes registrar el Taxón</h2>
          </mat-tab>
        </ng-template>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab"><mat-icon class="icon">filter_4</mat-icon> Nivel de Registro</div>
          </ng-template>
          <app-update-record-level *ngIf="recordlevelBool;else notRecordLevel"></app-update-record-level>
          <ng-template #notRecordLevel>
            <app-create-record-level [identificationid]="identificationid" (recordlevelBool)="postRecordLevel($event)">
            </app-create-record-level>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab"><mat-icon class="icon">filter_5</mat-icon> Ocurrencia</div>
          </ng-template>
          <app-update-occurrence *ngIf="occurrenceBool;else notOccurrence"></app-update-occurrence>
          <ng-template #notOccurrence>
            <app-create-occurrence [identificationid]="identificationid" (occurrenceBool)="postOccurrence($event)">
            </app-create-occurrence>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
              <div class="tab"><mat-icon class=" icon">filter_6</mat-icon> Organismo</div>
          </ng-template>
          <app-update-organism *ngIf="organismBool;else notOrganism">
          </app-update-organism>
          <ng-template #notOrganism>
            <app-create-organism [identificationid]="identificationid" (organismBool)="postOrganism($event)">
            </app-create-organism>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab"><mat-icon class="icon">filter_7</mat-icon> Evento</div>
          </ng-template>
          <app-update-event *ngIf="eventBool; else notEvent"></app-update-event>
          <ng-template #notEvent>
            <app-create-event [identificationid]="identificationid" (eventBool)="postEvent($event)"></app-create-event>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab"><mat-icon class="icon">filter_8</mat-icon> Ubicación</div>
          </ng-template>
          <app-update-location *ngIf="locationBool;else notLocation"></app-update-location>
          <ng-template #notLocation>
            <app-create-location [identificationid]="identificationid" (locationBool)="postLocation($event)">
            </app-create-location>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab"><mat-icon class="icon">filter_9</mat-icon> Contexto Geológico</div>
          </ng-template>
          <app-update-geologicalcontext *ngIf="geologicalBool;else notGeological"></app-update-geologicalcontext>
          <ng-template #notGeological>
            <app-create-geologicalcontext [identificationid]="identificationid"
              (geologicalBool)="postGeological($event)"></app-create-geologicalcontext>
          </ng-template>
        </mat-tab>


      </div>
      <!--Tabs deshabilitadas-->
      <ng-template #elseBlock>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab"><mat-icon class="icon">filter_1</mat-icon> Identificación</div>
          </ng-template>
          <app-create-identification (identificationid)="postIdentificationid($event)"></app-create-identification>
        </mat-tab>

        <mat-tab disabled>
          <ng-template mat-tab-label>
            <div class="tab"><mat-icon class="icon">filter_2</mat-icon> Taxon</div>
          </ng-template>
        </mat-tab>
        <mat-tab disabled>
          <ng-template mat-tab-label>
            <div class="tab"><mat-icon class="icon">filter_3</mat-icon> Multimedia</div>
          </ng-template>
        </mat-tab>
        <mat-tab disabled>
          <ng-template mat-tab-label>
            <div class="tab"><mat-icon class="icon">filter_4</mat-icon> Nivel de Registro</div>
          </ng-template>
        </mat-tab>
        <mat-tab disabled>
          <ng-template mat-tab-label>
            <div class="tab"><mat-icon class="icon">filter_5</mat-icon> Ocurrencia</div>
          </ng-template>
        </mat-tab>
        <mat-tab disabled>
          <ng-template mat-tab-label>
            <div class="tab"><mat-icon class="icon">filter_6</mat-icon> Organismo</div>
          </ng-template>
        </mat-tab>
        <mat-tab disabled>
          <ng-template mat-tab-label>
            <div class="tab"><mat-icon class="icon">filter_7</mat-icon> Evento</div>
          </ng-template>
        </mat-tab>
        <mat-tab disabled>
          <ng-template mat-tab-label>
            <div class="tab"><mat-icon class="icon">filter_8</mat-icon> Ubicación</div>
          </ng-template>
        </mat-tab>
        <mat-tab disabled>
          <ng-template mat-tab-label>
            <div class="tab"><mat-icon class="icon">filter_9</mat-icon> Contexto Geológico</div>
          </ng-template>
        </mat-tab>

      </ng-template>
    </mat-tab-group>
  </mat-card>
</div>
<br>
<app-footer></app-footer>
