<div *ngIf="verification">
  <div class="form-group">
    <label for="verificationstatus">Estado</label>
    <input type="text" [(ngModel)]="verification.verificationstatus" class="form-control" id="verificationstatus"
      placeholder="Ingrese un estado">
  </div>
  <div class="form-group">
    <label for="name">Descripción</label>
    <textarea [(ngModel)]="verification.description" class="form-control" type="text" id="description" placeholder="Ingrese una descripción"></textarea>
  </div>
  <div class="form-group">
    <button (click)="postVerification()" type="button" class="btn btn-primary">Aceptar</button>
  </div>
</div>
