<div class="row">
  <div class="col-lg-5">
    <ul class="list-group list-group-flush col">
      <li class="list-group-item row">
        <table>
          <tr>
            <td class="col-lg-4"><strong>Nombre del Organismo:</strong></td>
            <td class="col-lg-8"> {{organism.organismname|uppercase}}</td>
          </tr>
        </table>
      </li>
      <li class="list-group-item row">
        <table>
          <tr>
            <td class="col-lg-4"><strong>Alcance del Organismo:</strong></td>
            <td class="col-lg-8"> {{organism.organismscope|uppercase}}</td>
          </tr>
        </table>
      </li>
    </ul>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="col-lg-6">
    <h3>Observaciones:</h3>
    <p>{{organism.organismremarks|uppercase}}</p>
  </div>
</div>
