<div class="row">
  <div class="col-lg-5">
    <mat-list>
      <mat-list-item>
        <div class="col title text-right">Nombre del Organismo:</div>
        <div class="col">{{organism.organismname}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Alcance del Organismo:</div>
        <div class="col">{{organism.organismscope}}</div>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="col-lg-6">
    <h3>Observaciones:</h3>
    <p>{{organism.organismremarks}}</p>
  </div>
</div>
