<h1 mat-dialog-title>Nuevo Estado de Verificación</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="col">
    <mat-label>Estado de Verificación</mat-label>
    <input  matInput [(ngModel)]="data.verificationstatus" class="uppercase" cdkFocusInitial required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="col">
    <mat-label>Descripción</mat-label>
    <textarea matInput [(ngModel)]="data.description" class="uppercase" cdkFocusInitial></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="col" mat-flat-button (click)="onNoClick()">No Gracias</button>
  <button class="col" mat-flat-button [mat-dialog-close]="data" color="primary">Aceptar</button>
</div>
