<div class="row">
  <div class="col-lg-5">
    <mat-list>
      <mat-list-item>
        <div class="col title text-right">Bases de Registro:</div>
        <div class="col">{{recordlevel.basisofrecord}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Tipo:</div>
        <div class="col">{{recordlevel.type}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Modificado:</div>
        <div class="col">{{recordlevel.modified}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Lenguaje:</div>
        <div class="col">{{recordlevel.language}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Licencia:</div>
        <div class="col">{{recordlevel.license}}</div>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="col-lg-6">
    <mat-list>
      <mat-list-item>
        <div class="col title text-right">Titular de Derechos:</div>
        <div class="col">{{recordlevel.rightsholde}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Derechos de Acceso:</div>
        <div class="col">{{recordlevel.accessrights}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Citas Bibliográficas:</div>
        <div class="col">{{recordlevel.bibliographiccitation}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Referencias:</div>
        <div class="col">{{recordlevel.references}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Propiedades Dinámicas:</div>
        <div class="col">{{recordlevel.dynamicproperties}}</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
