<div class="row">
  <div class="col-lg-5">
    <mat-list>
      <mat-list-item>
        <div class="col title text-right">Basis of Record:</div>
        <div class="col">{{recordlevel.basisofrecord}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Type:</div>
        <div class="col">{{recordlevel.type}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Modified:</div>
        <div class="col">{{recordlevel.modified}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Language:</div>
        <div class="col">{{recordlevel.language}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">License:</div>
        <div class="col">{{recordlevel.license}}</div>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="col-lg-6">
    <mat-list>
      <mat-list-item>
        <div class="col title text-right">Rights Holder:</div>
        <div class="col">{{recordlevel.rightsholde}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Access Rights:</div>
        <div class="col">{{recordlevel.accessrights}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Bibliographic Citation:</div>
        <div class="col">{{recordlevel.bibliographiccitation}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">References:</div>
        <div class="col">{{recordlevel.references}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Dynamic Properties:</div>
        <div class="col">{{recordlevel.dynamicproperties}}</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
