<div class="row">
  <div class="col-lg-5">
    <mat-list>
      <mat-list-item>
        <div class="col title text-right">Reino:</div>
        <div class="col">{{taxon.kingdom}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Filo:</div>
        <div class="col">{{taxon.phylum}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Clase:</div>
        <div class="col">{{taxon.class}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Orden:</div>
        <div class="col">{{taxon.order}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Familia:</div>
        <div class="col">{{taxon.family}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Género:</div>
        <div class="col">{{taxon.genus}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Especie:</div>
        <div class="col">{{taxon.specie}}</div>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="col-lg-6">
    <mat-list>
      <mat-list-item>
        <div class="col title text-right">Nombre Científico:</div>
        <div class="col">{{taxon.scientificname}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Nombre de uso aceptado:</div>
        <div class="col">{{taxon.acceptednameusage}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Nombre Común:</div>
        <div class="col">{{taxon.vernacularname}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Nombre Original:</div>
        <div class="col">{{taxon.originalname}}</div>
      </mat-list-item>
    </mat-list>
  </div>

  <div colspan="2">
    <mat-divider></mat-divider>
    <h3>Remarks:</h3>
    <p>{{taxon.taxonremarks}}</p>
  </div>
</div>
