<div class="modal fade" id="modalEditUser" tabindex="-1" role="dialog" aria-labelledby="modalEditUserTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div *ngIf="user" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditUserTitle">Editar Usuario ({{user.name}} {{user.lastname}})</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container formulario">
          <div class="form-group">
            <label for="userid">ID/Cédula/Pasaporte</label>
            <input type="text" [(ngModel)]="user.userid" class="form-control" id="userid" disabled>
          </div>
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" [(ngModel)]="user.name" class="form-control" id="name" placeholder="Ingrese su nombre">
          </div>
          <div class="form-group">
            <label for="lastname">Apellido</label>
            <input type="text" [(ngModel)]="user.lastname" class="form-control" id="lastname" placeholder="Ingrese su apellido">
          </div>
          <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input type="email" [(ngModel)]="user.email" class="form-control" id="email" placeholder="Ingrese su correo electrónico">
          </div>
          <div class="form-group">
            <label for="direction">Domicilio</label>
            <input type="direction" [(ngModel)]="user.direction" class="form-control" id="direction" placeholder="Ingrese su domicilio">
          </div>
          <div class="form-group">
            <label for="phone">Teléfono</label>
            <input type="tel" [(ngModel)]="user.phone" class="form-control" id="phone" placeholder="Ingrese su Teléfono">
          </div>
          <div class="form-group">
            <label for="singleSelectRol">Rol</label>
            <select ng-model="rols" [(ngModel)]="user.rolid" class="form-control" id="singleSelectRol" name="singleSelectRol">
              <option value="">--Seleccione un rol--</option>
              <!--Selección en blanco-->
              <option *ngFor="let rol of rols" value="{{rol.rolid}}">{{rol.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="url">fotografía</label>
            <input type="url" [(ngModel)]="user.url" class="form-control" id="url" placeholder="Ingrese la url de la fotografía">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button (click)="updateUser()" type="button" class="btn btn-primary" >Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
