<div class="row">
  <div class="col-lg-5">
    <mat-list>
      <mat-list-item>
        <div class="col title text-right">Numero de Campo:</div>
        <div class="col">{{event.fieldnumber}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Fecha del Evento:</div>
        <div class="col">{{event.eventdate}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Hora del Evento:</div>
        <div class="col">{{event.eventtime}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Hábitat:</div>
        <div class="col">{{event.habitat}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Protocolo de Muestreo:</div>
        <div class="col">{{event.samplingprotocol}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Tamaño de la Muestra:</div>
        <div class="col">{{event.samplesizevalue}} {{event.samplesizeunit}} </div>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="col-lg-6">
    <div class="row">
      <h3>Notas de Campo:</h3>
      <p>{{event.fieldnotes}}</p>
    </div>
    <div class="row">
      <h3>Observaciones:</h3>
      <p>{{event.eventremarks}}</p>
    </div>
  </div>
</div>
