<h1 mat-dialog-title>Nueva Reproductive Condition</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="col">
    <mat-label>Reproductive Condition</mat-label>
    <input class="uppercase" matInput [(ngModel)]="data.reproductivecondition" cdkFocusInitial required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="col" mat-flat-button (click)="onNoClick()">No Gracias</button>
  <button class="col" mat-flat-button [mat-dialog-close]="data" color="primary">Ok</button>
</div>