<div class="row">
  <div class="col-lg-5">
    <mat-list>
      <mat-list-item>
        <div class="col title text-right">Organism Quantity:</div>
        <div class="col">{{occurrence.organismquantity}} en {{occurrence.organismquantitytype}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Life Stage:</div>
        <div class="col">{{occurrence.lifestage}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Reproductive Condition:</div>
        <div class="col">{{occurrence.reproductivecondition}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Sex:</div>
        <div class="col">{{occurrence.sex}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Establishment Means:</div>
        <div class="col">{{occurrence.establishmentmeans}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Individual Count:</div>
        <div class="col">{{occurrence.individualcount}}</div>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="col-lg-6">
    <mat-list>
      <mat-list-item>
        <div class="col title text-right">Behavior:</div>
        <div class="col">{{occurrence.behavior}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Preparations:</div>
        <div class="col">{{occurrence.preparations}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Associated References:</div>
        <div class="col">{{occurrence.associatedreferences}}</div>
      </mat-list-item>
    </mat-list>
  </div>
  <div colspan="2">
    <mat-divider></mat-divider>
    <h3>Remarks:</h3>
    <p>{{occurrence.occurrenceremarks}}</p>
  </div>
</div>
