<app-header-admin></app-header-admin>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin">Inicio</a></li>
    <li class="breadcrumb-item"><a>Control de Usuarios</a></li>
    <li class="breadcrumb-item active" aria-current="page">Lista de Usuarios</li>
  </ol>
</nav>
<div class="container row ">
  <button mdbBtn type="button" mdbWavesEffect block="true" outline="true" class="new-user boton2"
    routerLink="/create-user">Nuevo Usuario</button>

  <div *ngFor="let user of users">
    <mat-card class="cards">
      <mat-card-header class="x">
        <div class="text-center">
          <h5> <strong>{{user.name}} {{user.lastname}}</strong></h5>
          <h6>{{user.rolname}}</h6>
          <img *ngIf="user.url;else imagenDefecto" mat-card-image src="{{user.url}}" alt="" class="perfil rounded-circle ">
          <ng-template #imagenDefecto>
            <img mat-card-image src="../../../../assets/img/perfil.jpg" alt="" class="perfil rounded-circle ">
          </ng-template>
        </div>
      </mat-card-header>


      <mat-card-content>
        <ul>
          <li> <strong>Email:</strong> {{user.email}}</li>
          <li><strong>Dirección:</strong> {{user.direction}}</li>
          <li><strong>Teléfono:</strong> {{user.phone}}</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/update-user/{{user.userid}}" class="link"> Editar</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<app-footer></app-footer>
