<app-header-admin></app-header-admin>

<div class="container">
  <form *ngIf="!userBool;else resultado" [formGroup]="userRecord" (ngSubmit)="postFile()">
    <div class="row">
      <div class="text-center col-lg-12">
        <h1 class="h3 mb-3 font-weight-normal color-primary">Nuevo Usuario</h1>
      </div>
      <mat-form-field class="col-lg-12" appearance="outline">
        <mat-label for="userid">ID/Cédula/Pasaporte</mat-label>
        <input matInput type="text" formControlName="userid" placeholder="Ingrese su cédula" required>
      </mat-form-field>
      <mat-form-field class="col-lg-12" appearance="outline">
        <mat-label for="name">Nombre</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Ingrese su nombre">
      </mat-form-field>
      <mat-form-field class="col-lg-12" appearance="outline">
        <mat-label for="lastname">Apellido</mat-label>
        <input matInput type="text" formControlName="lastname" placeholder="Ingrese su apellido">
      </mat-form-field>
      <mat-form-field class="col-lg-12" appearance="outline">
        <mat-label for="email">Correo Electrónico</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Ingrese su correo electrónico" required>
      </mat-form-field>
      <mat-form-field class="col-lg-12" appearance="outline">
        <mat-label for="direction">Domicilio</mat-label>
        <input matInput type="direction" formControlName="direction" placeholder="Ingrese su domicilio">
      </mat-form-field>
      <mat-form-field class="col-lg-12" appearance="outline">
        <mat-label for="phone">Teléfono</mat-label>
        <input matInput type="tel" formControlName="phone" placeholder="Ingrese su Teléfono">
      </mat-form-field>
      <mat-form-field class="col-lg-12" appearance="outline">
        <mat-label for="password">Contraseña</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Ingrese su password mínimo 6 caracteres"
          require minlength="6">
      </mat-form-field>
      <mat-form-field class="col-lg-12" appearance="outline">
        <mat-label for="password">Repetir Contraseña</mat-label>
        <input matInput type="password" placeholder="Ingrese su password mínimo 6 caracteres" require minlength="6">
      </mat-form-field>
      <mat-form-field class="col-lg-12" appearance="outline">
        <mat-label for="singleSelectRol">Rol</mat-label>
        <mat-select ng-model="rols" formControlName="rolid" name="singleSelectRol">
          <mat-option value="">-Ninguno-</mat-option>
          <mat-option *ngFor="let rol of rols" value="{{rol.rolid}}">{{rol.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-lg-4">
        <input (change)="onFileSelected($event)" type="file" #fileInput id="archivo">
        <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">
          <mat-icon>cloud_upload</mat-icon> Cargar Imagen
        </button>
        <label>{{archivo}}</label>
      </div>
      <div class="form-group col-lg-12">
        <button class="col-4" type="button" mdbBtn color="secondary" mdbWavesEffect routerLink="/control-user"
          style="margin-right:5px">Cancelar</button>
        <button class="col-7" [disabled]="!userRecord.valid" type="submit" mdbBtn color="primary"
          mdbWavesEffect>Registrar
          Usuario</button>
      </div>
    </div>
  </form>
  <ng-template #resultado>
    <mat-card class="cards">
      <mat-card-header class="text-center">
        <mat-card-title>Usuario Registrado con los siguentes datos:</mat-card-title>
      </mat-card-header>
      <div class="text-center">
        <img mat-card-image src="{{user.url}}" alt="" class="perfil rounded-circle ">
      </div>
      <mat-card-content>
        <ul>
          <li>ID/Cédula/Pasaporte: {{user.userid}}</li>
          <li>Nombre: {{user.name}}</li>
          <li>Apellido: {{user.lastname}}</li>
          <li>Email: {{user.email}}</li>
          <li>Dirección: {{user.direction}}</li>
          <li>Teléfono: {{user.phone}}</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button type="button" mdbBtn color="link" mdbWavesEffect>
          Editar</button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</div>

<app-footer></app-footer>
