<app-header-admin></app-header-admin>

<mat-sidenav-container class="  ">
  <mat-sidenav mode="side" opened class="nav">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Índice de la Ficha</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <button (click)="onClickTaxon()" mat-button color="primary"> Taxon
            </button> </mat-list-item>
          <mat-list-item>
            <button (click)="onClickRecordlevel()" mat-button color="primary">
              Record Level </button>
          </mat-list-item>
          <mat-list-item>
            <button (click)="onClickOccurrence()" mat-button color="primary">
              Occurrence </button>
          </mat-list-item>
          <mat-list-item>
            <button (click)="onClickOrganism()" mat-button color="primary">
              Organism </button>
          </mat-list-item>
          <mat-list-item>
            <button (click)="onClickEvent()" mat-button color="primary"> Event
            </button> </mat-list-item>
          <mat-list-item>
            <button (click)="onClickLocation()" mat-button color="primary">
              Location </button>

          </mat-list-item>
          <mat-list-item>
            <button (click)="onClickGeologicalContext()" mat-button color="primary"> Geological </button>
          </mat-list-item>
          <mat-list-item>
            <button (click)="onClickMultimedia()" mat-button color="primary">
              Multimedia</button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-card>
      <mat-card-header class="backgroundTitle">
        <div class="title text-center">
          <mat-card-title >
            <h1>{{fichaTitle1}}</h1>
            <h5>{{fichaTitle2}}</h5>
          </mat-card-title>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-lg-3">
            <img class="img-thumbnail banner"
              src="{{image}}" alt="">
            <button (click)="onClickMultimedia()" mdbBtn type="button" color="primary" outline="true" block="true">
              Multimedia </button>
            <button mdbBtn type="button" color="secondary" outline="true" block="true"> Editar Ficha</button>
          </div>
          <div class="col-lg-9">

            <div *ngIf="taxonBool">
              <app-ficha-taxon [identificationid]="identificationid"></app-ficha-taxon>
            </div>
            <div *ngIf="recordlevelBool">
              <app-ficha-recordlevel [identificationid]="identificationid"></app-ficha-recordlevel>
            </div>
            <div *ngIf="occurrenceBool">
              <app-ficha-occurrence [identificationid]="identificationid"></app-ficha-occurrence>
            </div>
            <div *ngIf="organismBool">
              <app-ficha-organism [identificationid]="identificationid"></app-ficha-organism>
            </div>
            <div *ngIf="eventBool">
              <app-ficha-event [identificationid]="identificationid"></app-ficha-event>
            </div>
            <div *ngIf="locationBool">
              <app-ficha-location [identificationid]="identificationid"></app-ficha-location>
            </div>
            <div *ngIf="geologicalcontextBool">
              <app-ficha-geologicalcontext [identificationid]="identificationid"></app-ficha-geologicalcontext>
            </div>
            <div *ngIf="multimediaBool">
              <app-ficha-multimedia [identificationid]="identificationid"></app-ficha-multimedia>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
