<app-header-admin></app-header-admin>
<table class="backgroundTitle">
  <tr>
    <td class="text-center">
      <h1>{{fichaTitle1}}</h1>
    </td>
  </tr>
  <tr>
    <td class="text-center">
      <h5>{{fichaTitle2}}</h5>
    </td>
  </tr>


</table>
<mat-sidenav-container class="  ">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
  [fixedInViewport]="mobileQuery.matches" fixedTopGap="100"  class="nav">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="text-right">
            <button mat-icon-button (click)="snav.toggle()" >
            <mat-icon>arrow_back</mat-icon> 
          </button>
          Indice de Ficha
          </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <button (click)="onClickTaxon()" mdbBtn type="button" color="primary" outline="true" block="true"> Taxón
            </button> </mat-list-item>
          <mat-list-item>
            <button (click)="onClickRecordlevel()" mdbBtn type="button" color="primary" outline="true" block="true">
              Nivel de Registro </button>
          </mat-list-item>
          <mat-list-item>
            <button (click)="onClickOccurrence()" mdbBtn type="button" color="primary" outline="true" block="true">
              Ocurrencia </button>
          </mat-list-item>
          <mat-list-item>
            <button (click)="onClickOrganism()" mdbBtn type="button" color="primary" outline="true" block="true">
              Organismo </button>
          </mat-list-item>
          <mat-list-item>
            <button (click)="onClickEvent()" mdbBtn type="button" color="primary" outline="true" block="true"> Event
            </button> </mat-list-item>
          <mat-list-item>
            <button (click)="onClickLocation()" mdbBtn type="button" color="primary" outline="true" block="true">
              Ubicación </button>
          </mat-list-item>
          <mat-list-item>
            <button (click)="onClickGeologicalContext()" mdbBtn type="button" color="primary" outline="true"
              block="true"> Geológico </button>
          </mat-list-item>
          <mat-list-item>
            <button (click)="onClickMultimedia()" mdbBtn type="button" color="primary" outline="true" block="true">
              Multimedia</button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-card>
      
      <mat-card-content>
        <div class="row">
          <div class="col-lg-3">
              <button mdbBtn type="button" color="primary" outline="true" block="true" (click)="snav.toggle()" >
                  <mat-icon>menu</mat-icon>
                </button>
            <img class="img-thumbnail banner" src="{{image}}" alt="">
            <button (click)="onClickMultimedia()" mdbBtn type="button" color="primary" outline="true" block="true">
              Multimedia </button>
            <button mdbBtn type="button" color="secondary" outline="true" block="true"> Editar Ficha</button>
          </div>
          <div class="col-lg-9">
            <div *ngIf="taxonBool">
              <app-ficha-taxon [identificationid]="identificationid"></app-ficha-taxon>
            </div>
            <div *ngIf="recordlevelBool">
              <app-ficha-recordlevel [identificationid]="identificationid"></app-ficha-recordlevel>
            </div>
            <div *ngIf="occurrenceBool">
              <app-ficha-occurrence [identificationid]="identificationid"></app-ficha-occurrence>
            </div>
            <div *ngIf="organismBool">
              <app-ficha-organism [identificationid]="identificationid"></app-ficha-organism>
            </div>
            <div *ngIf="eventBool">
              <app-ficha-event [identificationid]="identificationid"></app-ficha-event>
            </div>
            <div *ngIf="locationBool">
              <app-ficha-location [identificationid]="identificationid"></app-ficha-location>
            </div>
            <div *ngIf="geologicalcontextBool">
              <app-ficha-geologicalcontext [identificationid]="identificationid"></app-ficha-geologicalcontext>
            </div>
            <div *ngIf="multimediaBool">
              <app-ficha-multimedia [identificationid]="identificationid"></app-ficha-multimedia>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
