<div class="modal fade" id="modalEditUser" tabindex="-1" role="dialog" aria-labelledby="modalEditUserTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div *ngIf="user" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditUserTitle">Editar Usuario ({{user.name}} {{user.lastname}})</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container formulario">
          <mat-form-field appearance="outline">
            <mat-label for="userid">ID/Cédula/Pasaporte</mat-label>
            <input matInput type="text" [(ngModel)]="user.userid" id="userid" disabled>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="name">Nombre</mat-label>
            <input matInput type="text" [(ngModel)]="user.name" id="name" placeholder="Ingrese su nombre">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="lastname">Apellido</mat-label>
            <input matInput type="text" [(ngModel)]="user.lastname" id="lastname" placeholder="Ingrese su apellido">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="email">Correo Electrónico</mat-label>
            <input matInput type="email" [(ngModel)]="user.email" id="email" placeholder="Ingrese su correo electrónico">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="direction">Domicilio</mat-label>
            <input matInput type="direction" [(ngModel)]="user.direction" id="direction" placeholder="Ingrese su domicilio">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="phone">Teléfono</mat-label>
            <input matInput type="tel" [(ngModel)]="user.phone" id="phone" placeholder="Ingrese su Teléfono">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="singleSelectRol">Rol</mat-label>
            <mat-select ng-model="rols" [(ngModel)]="user.rolid" id="singleSelectRol" name="singleSelectRol">
              <mat-option *ngFor="let rol of rols" value="{{rol.rolid}}">{{rol.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="url">fotografía</mat-label>
            <input matInput type="url" [(ngModel)]="user.url" id="url" placeholder="Ingrese la url de la fotografía">
          </mat-form-field>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button (click)="updateUser()" type="button" class="btn btn-primary" >Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
