<app-header-admin *ngIf="loggedin;else loggedout"></app-header-admin>
<ng-template #loggedout>
  <app-header-client></app-header-client>
</ng-template>

<h1 class="text-center color-primary">Nosotros</h1>
<div class="container">
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Nuestra Misión</h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
        semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
        commodo.</p>
    </div>
    <div class="col-md-5">
      <img src="../../../assets/img/mision.jpg" alt="" width="500" height="500">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Nuestra Visión</h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
        semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
        commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="../../../assets/img/vision.jpg" alt="" width="450">
    </div>
  </div>

  <hr class="featurette-divider">

  <h2 class="text-center">Nuestro Equipo</h2><br>
  <div class="row">
    <div class="card col-lg-2" style="width: 14rem;">
      <img src="../../assets/img/ejemplos/perfil.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Pepito Perez</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card col-lg-2" style="width: 12rem;">
      <img src="../../assets/img/ejemplos/perfil.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Pepito Perez</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card col-lg-2" style="width: 12rem;">
      <img src="../../assets/img/ejemplos/perfil.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Pepito Perez</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card col-lg-2" style="width: 12rem;">
      <img src="../../assets/img/ejemplos/perfil.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Pepito Perez</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card col-lg-2" style="width: 12rem;">
      <img src="../../assets/img/ejemplos/perfil.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Pepito Perez</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card col-lg-2" style="width: 12rem;">
      <img src="../../assets/img/ejemplos/perfil.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Pepito Perez</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
