<h1 mat-dialog-title>Nueva Estado de Vida</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="col">
    <mat-label>Estado de Vida</mat-label>
    <input class="uppercase" class="uppercase" matInput [(ngModel)]="data.lifestage" cdkFocusInitial required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="col" mat-flat-button (click)="onNoClick()">No Gracias</button>
  <button class="col boton" mat-flat-button [mat-dialog-close]="data" >Aceptar</button>
</div>
