<h1 mat-dialog-title>Nueva Base de Registro</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="col">
    <mat-label>Base de Registro</mat-label>
    <input class="uppercase" matInput [(ngModel)]="data.basisofrecord" cdkFocusInitial required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="col">
      <mat-label>Descripción</mat-label>
      <textarea class="uppercase" matInput [(ngModel)]="data.description"></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="col" mat-flat-button (click)="onNoClick()">No Gracias</button>
  <button class="col" mat-flat-button [mat-dialog-close]="data" color="primary">Aceptar</button>
</div>
