<h1 mat-dialog-title>Nueva Basis of Record</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="col">
    <mat-label>Basis of Record</mat-label>
    <input matInput [(ngModel)]="data.basisofrecord" cdkFocusInitial>
  </mat-form-field>
  <mat-form-field appearance="outline" class="col">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="data.description"></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="col" mat-flat-button (click)="onNoClick()">No Gracias</button>
  <button class="col" mat-flat-button [mat-dialog-close]="data" color="primary">Ok</button>
</div>
