<h1 mat-dialog-title>Nuevo Establecimiento de medios</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="col">
    <mat-label>Establecimiento de medios</mat-label>
    <input class="uppercase" matInput [(ngModel)]="data.establishmentmeans" cdkFocusInitial required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="col" mat-flat-button (click)="onNoClick()">No Gracias</button>
  <button class="col" mat-flat-button [mat-dialog-close]="data" color="primary">Aceptar</button>
</div>
