<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/img/logo_utn_blanco.png" height="50px" alt="Museo UTN">
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse espaciado" id="navbarNavDropdown">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/crear-usuario">Usuarios</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/colecciones-admin">Colecciones</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/multimedia-admin">Multimedia</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>