<mat-accordion class="example-headers-align">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Imagenes
      </mat-panel-title>
      <mat-panel-description>
        {{cantidadFotografia}} Fotografias

      </mat-panel-description>
      <mat-icon>photo_library</mat-icon>
    </mat-expansion-panel-header>
    <div class="row justify-content-center">
      <div *ngFor="let img of fotografia" class=" text-center">
        <a href="{{img.url}}" data-toggle="lightbox" data-gallery="example-gallery" data-height="800">
          <img src="{{img.url}}" class="img-fluid thumbnail">
        </a>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Video
      </mat-panel-title>
      <mat-panel-description>
        {{cantidadVideo}} Videos
      </mat-panel-description>
      <mat-icon>video_library</mat-icon>
    </mat-expansion-panel-header>
    <div class="row">
      <div *ngFor="let vid of video" class="col-lg-6">
        <video controls height="250">
          <source src="{{vid.url}}">
          Lo siento; su navegador no soporta video HTML5
        </video>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sonido
      </mat-panel-title>
      <mat-panel-description>
        {{cantidadAudio}} Notas de Audio
      </mat-panel-description>
      <mat-icon>library_music</mat-icon>
    </mat-expansion-panel-header>
    <div class="row">
      <div *ngFor="let aud of audio" class="col-lg-6">
        <audio controls class="col">
          <source src="{{aud.url}}">
          Y Lo siento; su navegador no soporta audio HTML5
        </audio>
      </div>
    </div>
  </mat-expansion-panel>

</mat-accordion>
