<mat-accordion class="example-headers-align">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Imagenes
      </mat-panel-title>
      <mat-panel-description>
        {{cantidadImages}} Fotografias

      </mat-panel-description>
      <mat-icon>photo_library</mat-icon>
    </mat-expansion-panel-header>
    <div class="row justify-content-center">
      <div *ngFor="let img of multimedia" class=" text-center">
        <a href="{{img.url}}" data-toggle="lightbox" data-gallery="example-gallery" data-height="800">
          <img src="{{img.url}}" class="img-fluid thumbnail">
        </a>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Video
      </mat-panel-title>
      <mat-panel-description>
        2 Videos
      </mat-panel-description>
      <mat-icon>video_library</mat-icon>
    </mat-expansion-panel-header>
    Contenido 2


  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sonido
      </mat-panel-title>
      <mat-panel-description>
        4 Notas de Audio
      </mat-panel-description>
      <mat-icon>library_music</mat-icon>
    </mat-expansion-panel-header>

  </mat-expansion-panel>

</mat-accordion>
