<div class="row">
  <div class="col-lg-5">
    <mat-list>
      <mat-list-item>
        <div class="col title text-right">Continente:</div>
        <div class="col">{{location.continent}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Cuerpo de Agua:</div>
        <div class="col">{{location.waterbody}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Isla:</div>
        <div class="col">{{location.island}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Dato geodésico:</div>
        <div class="col">{{location.geodeticdatum}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">País:</div>
        <div class="col">{{location.country}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Provincia:</div>
        <div class="col">{{location.stateprovince}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Cantón:</div>
        <div class="col">{{location.county}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Parroquia:</div>
        <div class="col">{{location.municipality}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Ubicación Común:</div>
        <div class="col">{{location.verbatimlocality}}</div>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="col-lg-6">
    <mat-list>
      <mat-list-item>
        <div class="col title text-right">Elevación Mínima:</div>
        <div class="col">{{location.minimumelevationinmeters}} metros</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Elevación Máxima:</div>
        <div class="col">{{location.maximumelevationinmeters}} metros</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Ubicación de Acuerdo con:</div>
        <div class="col">{{location.locationaccordingto}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Latitud:</div>
        <div class="col">{{location.decimallatitude}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Longitud:</div>
        <div class="col">{{location.decimallongitude}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Incertidumbre en metros:</div>
        <div class="col">{{location.coordinateuncertaintyinmeters}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Georeferenciado por:</div>
        <div class="col">{{location.georeferecedby}}</div>
      </mat-list-item>
      <mat-list-item>
        <div class="col title text-right">Precisión de coordenadas:</div>
        <div class="col">{{location.coordinateprecision}}</div>
      </mat-list-item>
    </mat-list>
  </div>
  <div colspan="2">
    <mat-divider></mat-divider>
    <h3>Observaciones:</h3>
    <p>{{location.locationremarks}}</p>
  </div>
</div>
