<form [formGroup]="multimedia" (ngSubmit)="postFile()">
  <div class="row">
    <mat-form-field appearance="outline" class="col-lg-4">
      <mat-label>Type Media</mat-label>
      <mat-select ng-model="typemedias" formControlName="typemedia">
        <mat-option>-Ninguno-</mat-option>
        <mat-option *ngFor="let typemedia of typemedias" value="{{typemedia.typemedia}}">{{typemedia.typemedia}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-lg-4">
      <mat-label>Autor</mat-label>
      <input matInput formControlName="author" type="text" placeholder="">
    </mat-form-field>
    <div class="col-lg-4">
      <input  (change)="onFileSelected($event)" type="file" #fileInput id="archivo">
      <button mat-raised-button color="primary" (click)="fileInput.click()"> <mat-icon>cloud_upload</mat-icon> Cargar Imagen</button>
      <label >{{archivo}}</label>
    </div>
    <div class="form-group">
        <button mdbBtn type="submit" [disabled]="!multimedia.valid" color="primary" block="true">
            Registrar Contenido Multimedia</button>
    </div>
  </div>
</form>
