<form [formGroup]="event" (ngSubmit)="postEvent()">
  <br>
  <h2>Event</h2>
  <div class="row">
    <mat-form-field appearance="outline" class="col">
      <mat-label for="fieldnumber">Field Number</mat-label>
      <input class="uppercase" matInput formControlName="fieldnumber" type="text"
        placeholder="Identificador de las notas de campo." required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col">
      <mat-label for="habitat">Habitat</mat-label>
      <input class="uppercase" matInput formControlName="habitat" type="text" id="habitat"
        placeholder="Descripción del hábitat en el que ocurrió el Evento.">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline" class="col">
      <mat-label for="eventdate">Event Date</mat-label>
      <input class="uppercase" matInput [matDatepicker]="eventdate" formControlName="eventdate" type="text" required
        placeholder="Ingrese una eventdate" disabled>
      <mat-datepicker-toggle matSuffix [for]="eventdate"></mat-datepicker-toggle>
      <mat-datepicker #eventdate disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col">
      <mat-label for="eventtime">Event Time</mat-label>
      <input class="uppercase" matInput formControlName="eventtime" type="text" id="eventtime"
        placeholder="Ingrese una eventtime">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" class="col">
      <mat-label for="samplingprotocol">Sampling Protocol</mat-label>
      <textarea class="uppercase" matInput formControlName="samplingprotocol" type="text" id="samplingprotocol"
        placeholder="El nombre, la referencia o la descripción del método o protocolo utilizado durante un Evento."></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col">
      <mat-label for="fieldnotes">Field Notes</mat-label>
      <textarea class="uppercase" matInput formControlName="fieldnotes" type="text" id="fieldnotes"
        placeholder="Texto de las notas tomadas en el campo sobre el Evento."></textarea>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline" class="col">
      <mat-label for="samplesizevalue">Sample Size Value</mat-label>
      <input class="uppercase" matInput formControlName="samplesizevalue" type="number" id="samplesizevalue"
        placeholder="Duración, área o volumen de una muestra en un evento.">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col">
      <mat-label for="samplesizeunit">Sample Size Unit</mat-label>
      <input class="uppercase" matInput formControlName="samplesizeunit" type="text" id="samplesizeunit"
        placeholder="Unidad de medida de una muestra.">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" class="col">
      <mat-label for="eventremarks">Event Remarks</mat-label>
      <textarea class="uppercase" matInput formControlName="eventremarks" type="text" id="eventremarks"
        placeholder="Comentarios o notas sobre el evento."></textarea>
    </mat-form-field>
  </div>

  <div class="form-group">
    <button mdbBtn type="submit" [disabled]="!event.valid" color="primary" block="true">
      Registrar Event</button>
  </div>
</form>
