<h1 mat-dialog-title>Nueva Especie del Género {{data.genus}}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="col">
      <mat-label>Nueva Especie</mat-label>
      <input class="uppercase" matInput [(ngModel)]="data.specie" cdkFocusInitial required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="col" mat-flat-button (click)="onNoClick()">No Gracias</button>
  <button class="col boton" mat-flat-button [mat-dialog-close]="data" >Gracias</button>
</div>
