<form [formGroup]="geologicalcontext" (ngSubmit)="updateGeologicalContext()">
  <br>
  <h2>Contexto Geológico</h2>
  <div class="row">
    <div class="col-lg-3">
      <h5> <button (click)="addEon()" class="add" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>Eón</h5>
      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label for="earliesteonorlowesteonothem">Eon más Bajo</mat-label>
        <mat-select ng-model="eons" formControlName="earliesteonorlowesteonothem">
          <mat-option *ngFor="let eon of eons" value="{{eon.name}}">{{eon.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label for="latesteonorhighesteonothem">Eon más Alto</mat-label>
        <mat-select ng-model="eons" formControlName="latesteonorhighesteonothem">
          <mat-option *ngFor="let eon of eons" value="{{eon.name}}">{{eon.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <h5><button (click)="addEra()" class="add" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>Era</h5>
      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label for="earliesteraorlowesterathem">Era más Baja</mat-label>
        <mat-select ng-model="eras" formControlName="earliesteraorlowesterathem">
          <mat-option *ngFor="let era of eras" value="{{era.name}}">{{era.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label for="latesteraorhighesterathem">Era más Alta</mat-label>
        <mat-select ng-model="eras" formControlName="latesteraorhighesterathem">
          <mat-option *ngFor="let era of eras" value="{{era.name}}">{{era.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <h5><button (click)="addPeriod()" class="add" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>Periodo</h5>
      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label for="earliestperiodorlowestsystem">Periodo más Bajo</mat-label>
        <mat-select ng-model="periods" formControlName="earliestperiodorlowestsystem">
          <mat-option *ngFor="let period of periods" value="{{period.name}}">{{period.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label for="latestperiodorhighestsystem">Periodo más Alto</mat-label>
        <mat-select ng-model="periods" formControlName="latestperiodorhighestsystem">
          <mat-option *ngFor="let period of periods" value="{{period.name}}">{{period.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <h5><button (click)="addEpoch()" class="add" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>Epoca</h5>
      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label for="earliestepochorlowestseries">Epoca más Baja</mat-label>
        <mat-select ng-model="epochs" formControlName="earliestepochorlowestseries">
          <mat-option *ngFor="let epoch of epochs" value="{{epoch.name}}">{{epoch.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-lg-12">
        <mat-label for="latestepochorhighestseries">Epoca más Alta</mat-label>
        <mat-select ng-model="epochs" formControlName="latestepochorhighestseries">
          <mat-option *ngFor="let epoch of epochs" value="{{epoch.name}}">{{epoch.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <mat-form-field appearance="outline" class="col">
      <mat-label for="geologicalcontextremarks">Observaciones del Contexto Geológico</mat-label>
      <textarea class="uppercase" matInput formControlName="geologicalcontextremarks" type="text"
        id="geologicalcontextremarks" placeholder="Notas adicionales del contexto geológico."></textarea>
    </mat-form-field>
  </div>
  <div>
      <button mdbBtn type="submit" [disabled]="!geologicalcontext.valid" color="primary" block="true">
          Actualizar Contexto Geológico</button>
      </div>
  </form>
