<app-header-admin *ngIf="loggedin;else loggedout"></app-header-admin>
<ng-template #loggedout>
  <app-header-client></app-header-client>
</ng-template>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin">Inicio</a></li>
    <li class="breadcrumb-item"><a>Colecciones</a></li>
    <li class="breadcrumb-item active" aria-current="page">Reinos</li>
  </ol>
</nav>

<div class="container text-center">
  <div class="title">
    <strong> Colecciones por Grupo Biológico</strong>
    <div class="col-lg-12">
      <h5>Existen {{nColecciones}} Especies Registradas </h5>
    </div>
  </div>
  <br>
  <div class="row reinos ">

    <div class="col-lg col-sm-6">
      <a routerLink="/reinos/Animalia">
        <img src="../../assets/img/ejemplos/colibri.jpg" class="rounded-circle imgredonda" alt="...">
      </a>
      <div class="title3">Animalia</div>
      <small class="text-muted">{{animalia.length}} Registros</small>
    </div>
    <div class="col-lg col-sm-6">
      <a routerLink="/reinos/Plantae">
        <img src="../../assets/img/ejemplos/girasol.jpg" class="rounded-circle imgredonda" alt="...">
      </a>
      <div class="title3">Plantae</div>
      <small class="text-muted">{{plantae.length}} Registros</small>
    </div>
    <div class="col-lg col-sm-6">
      <a routerLink="/reinos/Fungi">
        <img src="../../assets/img/ejemplos/hongo.jpg" class="rounded-circle imgredonda" alt="...">
      </a>
      <div class="title3">Fungi</div>
      <small class="text-muted">{{fungi.length}} Registros</small>
    </div>
    <div class="col-lg col-sm-6">
      <a routerLink="/reinos/Monera">
        <img src="../../assets/img/ejemplos/bacteria.jpg" class="rounded-circle imgredonda" alt="...">
      </a>
      <div class="title3">Monera</div>
      <small class="text-muted">{{monera.length}} Registros</small>
    </div>
    <div class="col-lg col-sm-6">
      <a routerLink="/reinos/Protista">
        <img src="../../assets/img/ejemplos/protista.jpg" class="rounded-circle imgredonda" alt="...">
      </a>
      <div class="title3">Protista</div>
      <small class="text-muted">{{protista.length}} Registros</small>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row text-center">
    <div class="col-lg-6">
      <app-my-pie-chart></app-my-pie-chart>
    </div>
    <div class="col-lg-6">
      <app-my-doughnut-chart></app-my-doughnut-chart>
    </div>
  </div>

</div>
<app-footer></app-footer>
