

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(163, 250, 2);
}

mat-button-toggle-group{  border-color: #0CB14B;}

mat-button-toggle{color:#0CB14B;}

mat-button-toggle:hover{
  background-color: #0CB14B;
  color:white;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

img.miniatura {
  width: 70px;
  height: 70px;
  padding: 10px;
}

img.resumen {
  height: 200px;
}

.actions {
  padding: 5px;
  margin: 10px;
}

.columna {
  border-style: solid;
}

.error {
  color: red;
  margin-left: 50%;
}
